# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_SECRET_ID=

# FaunaDB
FAUNADB_KEY=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

#Primic CMS
PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=
